body {
  font-size: .875rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 49px;
  /*padding-bottom: 40px;*/
  background-color: #f5f5f5;
  background-image: url("../images/bg_2.jpg");
  background-size: cover;
  font-family: MicrosoftJhengHei !important;
  /*overflow: auto;*/
}

.font, .ui-dialog-title {
  font-family: MicrosoftJhengHei, Arial !important;
  font-size: 16px !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: MicrosoftJhengHei !important;
}

img {
  vertical-align: middle;
}

.must {
  color: blue;
}

.cursor_zoom_in {
  cursor: zoom-in;
}

.cursor_zoom_out {
  cursor: zoom-out;
}

.script {
  height: 300px;
  overflow: auto;
  background-color: #000;
  color: #fff !important;
}

span {
  vertical-align: middle;
  display: inline-block;
}

nav > ul {
  flex-direction: row-reverse !important;
  padding-right: 5px !important;
}

nav > ul > li {
  margin-left: 5px !important;
  margin-right: 0px !important;
}

.navbar-nav .nav-link {
  color: rgba(107, 107, 107, 0.5) !important;
}

.navbar-nav .nav-link:hover {
  color: #004bff !important;
}

.table-hover tbody tr:hover {
  background-color: #f9f872 !important;
  cursor: pointer;
}

.compare-current-pos {
  background-color: yellow;
}

.compare-current-pos::before {
  content: "> ";
}

@font-face {
  font-family: MicrosoftJhengHei;
  src: 	local("微軟正黑體"),
  		local("Microsoft JhengHei UI"),
    	url("../fonts/MSJH.TTC");
  font-weight: normal;
}

@font-face {
  font-family: DFKai;
  src: 	local("標楷體"),
  		local("DFKai-sb"),
    	url("../fonts/KAIU.TTF");
  font-weight: normal;
}

.compare-line {
  height: 400px;
  overflow: auto;
  white-space: nowrap;
}

.compare-content {
  height: 400px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

nav a {
  padding-left: 5px;
}

nav a:hover {
  text-decoration: none;
}

.href {
  text-decoration: underline;
}

.href:hover {
  text-decoration: none;
}

.subMenu-item {
  margin-bottom: 5px;
}

.subMenu-item a {
  font-size: 1.0rem;
  color: #9ed7f7;
}

.subMenu-item a:hover {
  color: yellow;
}

.subMenu-item .feather {
  width: 20px;
  height: 20px;
}

/* DataTable 讀取資料時顯示文字 */
.dataTables_processing {
  color: blue;
  left: 20% !important;
  width: 80% !important;
}

nav img {
  padding-top: 5px
}

.feather {
  /*width: 16px;*/
  /*height: 16px;*/
  vertical-align: text-bottom;
}

.feather-compare {
  margin-top: 3rem;
  margin-bottom: 4rem;
  cursor: pointer;
  display: block;
}

.feather-compare:hover {
  color: red;
}

/*
 * Background color setting
 */
.navbar-bg {
  background: -webkit-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));
  background: -o-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));
  background: -moz-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));
  background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));
  height: 45px;
}

.sidebar-bg {
  background-color: rgba(0, 0, 0, 0.498039215686275);
  font-size: 1.2rem;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 68px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

/*
.sidebar-sticky ul li {
  border:1px rgba(0, 0, 0, .3) solid;
}
*/

.nav-item {
  border-bottom: 1px solid rgba(0,0,0,.3);
}

.subMenu-item {
  list-style: none;
  margin-left: -1rem;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #ffffff;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  /*color: #999;*/
}

.sidebar .nav-link.active {
  color: #ffffff;
  background-color: #008000;
}

.sidebar .nav-link:hover  {
  color: #008000;
  background-color: #ffffff;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  top: 2px;
  /*padding-top: 48px; /* Space for fixed navbar */
  overflow: auto;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

section {
  background-color: rgba(255, 255, 255, .35);
  height: calc(100vh - 78px);
  padding-top: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

[role="footer"] {
  background-color: rgba(0, 102, 153, .6);
  margin-top: 7px;
  padding-left: 5px !important;
  padding-right: 5px !important;
  text-align: center;
}

.search-bar {
  background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(153, 204, 102, 1) 100%, rgba(153, 204, 102, 1) 100%);
  background: -o-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(153, 204, 102, 1) 100%, rgba(153, 204, 102, 1) 100%);
  background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(153, 204, 102, 1) 100%, rgba(153, 204, 102, 1) 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(153, 204, 102, 1) 100%, rgba(153, 204, 102, 1) 100%);
  padding: 5px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(121, 121, 121, 1);
  border-radius: 0px;
  box-shadow: -moz-box-shadow(0px 5px 10px rgba(0, 0, 0, 0.349019607843137));
  box-shadow: -webkit-box-shadow(0px 5px 10px rgba(0, 0, 0, 0.349019607843137));
  box-shadow: 0px 5px 10px rgba(0,0,0,0.349019);
}

.action-btn-bar {
  background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 99%, rgba(204, 204, 204, 1) 100%);
  background: -o-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 99%, rgba(204, 204, 204, 1) 100%);
  background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 99%, rgba(204, 204, 204, 1) 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 99%, rgba(204, 204, 204, 1) 100%);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(121, 121, 121, 1);
  border-radius: 0px;
  box-shadow: -moz-box-shadow(0px 5px 10px rgba(0, 0, 0, 0.349019607843137));
  box-shadow: -webkit-box-shadow(0px 5px 10px rgba(0, 0, 0, 0.349019607843137));
  box-shadow: 0px 5px 10px rgba(0,0,0,0.349019);
}

.search-bar select {
  height: 25px;
}

.search-bar input {
  height: 25px;
}

.search-bar .form-group {
  margin-bottom: 0.1rem;
}

select, input {
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

select:focus, input:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/*
 * Navbar
 */
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

/*
 * 按鈕樣式
 */
.btn-style {
  border-width: 1px;
  border-color: #838080;
  border-top-style: inset;
  border-left-style: inset;
  width: 100%;
  height: 25px;
}


/*
 * 查詢欄位Group樣式
 */
.group-title {
  color: blue;
}

.group-field-left {
  background-color: rgba(204, 204, 153, 1);
  border-width: 3px;
  border-color: white;
  border-left-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.group-field-middle {
  background-color: rgba(204, 204, 153, 1);
  border-width: 3px;
  border-color: white;
  border-top-style: solid;
  border-bottom-style: solid;
  padding-top: 5px;
  padding-bottom: 5px;
}

.group-field-right {
  background-color: rgba(204, 204, 153, 1);
  border-width: 3px;
  border-color: white;
  border-top-style: solid;
  border-bottom-style: solid;
  border-right-style: solid;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.group-field-full {
  background-color: rgba(204, 204, 153, 1);
  border-width: 3px;
  border-color: white;
  border-left-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  border-right-style: solid;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
}

.group-field-other {
  padding-top: 10px;
  padding-bottom: 5px;
}

.action-btn-bar-style {
  padding-top: 5px;
  padding-bottom: 5px;
}

.center {
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.right {
  text-align: right;
}

/*
 *
 */
 
.myTableSection {
  background-color: rgba(12, 87, 64, 0.24);
  padding-top: 10px;
  border-width: 1px;
  border-style: solid;
  color: #FFFFFF;
  border-color: #FFFFFF;
  margin-top: 5px;
  overflow-x: auto;
}

.myTableSection td a {
  color: blue;
}

.myTableSection td a:hover {
  color: red;
}

.myTableSection a {
  color: blue;
}

.myTableSection a:hover {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.myTableSection a:active {
  color: red;
  text-decoration: none;
}

.myTable {
  dispaly: !important;
  z-index: 999;
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: #FFFFFF;
  border-collapse: collapse;
  color: black;
}

.myTable td {
  border-width: 1px !important;
  border-style: solid;
  border-color: #797979;
}

.myTable th {
  border-width: 1px !important;
  border-style: solid;
  border-color: #797979;
}

.mySelected {
  background-color: #f9f872 !important;
}

.myTable thead {
  /*background-color: #EFD6AEE6;*/
  background: -webkit-linear-gradient(180deg, #F6C87F, #EADFCDE6);
  background: -o-linear-gradient(180deg, #F6C87F, #EADFCDE6);
  background: -moz-linear-gradient(180deg, #F6C87F, #EADFCDE6);
  background: linear-gradient(180deg, #F6C87F, #EADFCDE6);
}

.copyright > span {
  vertical-align: middle;
}

.icon-hightlight {
  color: #ff2000;
}

.icon-hightlight:hover {
  color: #004bff;
}

@media (min-width: 320px) {
  .mobile-menu {
    display: inline;
    position: fixed;
    top: 50px;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: black;
  	margin-left: 5px;
  	margin-right: 5px;
  }
  
  .mobile-menu a {
  	color: white;
  }
  
  .web-only {
  	display: none;
  }
}

@media (min-width: 320px) {
  .title-font {
  	font-family: DFKai;
  	font-size: 1.1rem
  }
  .copyright {
	color: #FFFFFF; 
	font-size: 0.5rem;
  }
  .search-bar-small-btn {
    display: inherit;
    margin-top: 2.75rem;
  }
  .search-bar-small {
    display: inherit;
  }
  .search-bar-large {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .search-bar-small-btn {
    display: inherit;
    margin-top: 0px;
  }
  .search-bar-small {
    display: inherit;
    margin-top: 0px;
  }
  .web-only {
  	display: inline;
  }
}

@media (min-width: 1200px) {
  .title-font {
  	font-family: DFKai;
  	font-size: 1.3rem
  }
  .copyright {
    color: #FFFFFF; 
    font-size: 1.5vmin;
  }
  .mobile-menu {
    display: none;
  }
  .search-bar-small-btn {
    display: none;
  }
  .search-bar-small {
    display: none;
  }
  .search-bar-large {
    display: inherit;
  }
  .web-only {
  	display: inline;
  }
}
/*
@media (min-width: 992px) {
  .title-font {
  	font-family: DFKai;
  	font-size: 1.5rem
  }
  .mobile-menu {
    display: none;
  }
}

@media (min-width: 1200px) {
  .title-font {
  	font-family: DFKai;
  	font-size: 1.5rem
  }
  .mobile-menu {
    display: none;
  }
}
*/

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('../images/Preloader_3.gif') center no-repeat #fff;
  /*opacity: .8;*/
}

.processing {
  position: fixed;
  margin: 0 auto;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: url('../images/Processing_2.gif') center no-repeat;
}

.mask {
  background: #000;
  opacity: 0.7;
  z-index: 9998;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.blue {
  color: blue;
}

.red {
  color: red;
}

.yellow {
  color: #FFFF00 !important;
}

.bold {
  font-weight: bold;
}

button {
	height: 2rem;
	border-radius: 4px !important;
	border: none !important;
	color: #fff;
	font-weight: bold;
	font-family: inherit;
}

.row-group-dash {
	border-style: dotted;
	border-width: 1px;
	margin-bottom: 5px;
	padding: 10px 10px 0 0;
}

.section-group {
  position: relative;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: .5rem;
  background-color: white;
  border-width: 5px;
  border-color: #6e7a84;
  border-style: groove;
}

.section-group:before {
  content: attr(title);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translate(-50%,-50%);
  padding: 0 10px;
  background-color: #fff;
  color: #6e7a84;
  font-weight: bold;
}

.section-content {
  padding: 1rem;
}

.bg_yellow {
  background-color: #ffff00;	
}

.preview-topic {
  font-weight: bold;
  color: #ffff00;	
}

.preview-ul {
  margin-left: -1rem;
}

.preview-li {
  font-weight: bold;
}

/*##########################################################################################################################################*/
.step-current {
  background-image: -webkit-linear-gradient(#FFFFFF, #0595FF) !important;
  background-image: -o-linear-gradient(#FFFFFF, #0595FF) !important;
  background-image: -moz-linear-gradient(#FFFFFF, #0595FF) !important;
  background-image: linear-gradient(#FFFFFF, #0595FF) !important;
  font-weight: bold !important;
  padding-bottom: 5px;
  padding-top: 5px;
  line-height: 1rem;
}

.step-arrow {
}

.step-arrow-img {
  font-size: 30px;
}

.step {
  border-style: double;
  border-radius: 5px 25px 5px 25px;
  background-image: -webkit-linear-gradient(#FFFFFF, #ddd);
  background-image: -o-linear-gradient(#FFFFFF, #ddd);
  background-image: -moz-linear-gradient(#FFFFFF, #ddd);
  background-image: linear-gradient(#FFFFFF, #ddd);
  padding-bottom: 5px;
  padding-top: 5px;
  line-height: 1rem;
}

#stepModal_scroll {
  max-height: 450px;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-right: 1rem;
}

/*
#step2_variable_section {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
*/

.fill-all-inpt {
  background-color: #000;
  color: #ffff00;
}

.fill-all-inpt::placeholder {
  color: #fff;
  opacity: .6;
}

.required {
  border: 3px solid #ff0000;
}

#step2_target_section {
  margin-top: -0.5rem;
  max-height: 450px;
  overflow-y: auto;
  overflow-x: auto;
}

#step2_target_section table {
  display: table;
  white-space: nowrap;
}

#step2_target_section thead {
  /*display: block;
  width: calc( 100% - 1.2em );*/
}

#step2_target_section thead tr {
  display: table-row;
  width: 100%;
  table-layout: fixed;
}

#step2_target_section thead th {
  display: table-cell;
}

#step2_target_section tbody {
  /*display: block;*/
  max-height: 170px;
  overflow-y: auto;
}

#step2_target_section tbody tr {
  display: table-row;
  width: 100%;
  table-layout: fixed;
}

#step2_target_section tbody td {
  display: table-cell;
}

#step2_target_section thead,tbody tr {
  line-height: 1.5rem;
}

#step2_target_section tbody tr:nth-of-type(2n+1) {
  background-color: rgba(0,0,0,.05);
}

.var-td {
  min-width: 100px;
  background: -webkit-linear-gradient(#ddd, #fff);
  background: -o-linear-gradient(#ddd, #fff);
  background: -moz-linear-gradient(#ddd, #fff);
  background: linear-gradient(#ddd, #fff);
}

#step3_target_table {
  background-color: #000;
}

#step3_target_table thead {
  /*display: block;
  width: calc( 100% - 1.2em );*/
}

#step3_target_table thead tr {
  display: table-row;;
  width: 100%;
  table-layout: fixed;
}

#step3_target_table tbody {
  background-color: #fff;
  /*display: block;*/
  max-height: 170px;
  overflow-y: auto;
}

#step3_target_table tbody tr {
  display: table-row;
  width: 100%;
  table-layout: fixed;
}

#step3_target_table thead,tbody tr {
  line-height: 1.5rem;
}

#step3_target_table tbody tr:nth-of-type(2n+1) {
  background-color: rgba(0,0,0,.05);
}

#stepModal_preview {
  background-color: #000000;
  color: #fff;
  padding-top: .5rem;
  padding-bottom: .5rem;
  max-height: 440px;
  overflow-y: auto;
}

#stepModal_searchWaiting {
  display: none;
  height: 35px;
  width: 35px;
}

.multi-select {
  width: 95%;
  background-color: #000000;
  padding-top: .5rem;
}

.multi-option-topic {
  color: #ffff00;
}

.multi-option-topic::before {
  content: "◎ ";
}

.multi-option-topic::after {
  content: "";
}

.multi-option-item {
  padding-left: 30px;
  color: #fff;
}

.multi-option-item::before {
  content: "> ";
}

/*##########################################################################################################################################*/
.modal-content {
  background-color: #ddd !important;
}

.modal-header {
  height: 40px;
  padding: 10px 1rem 5px 1rem !important;
}

.modal-title {
  line-height: 22px !important;
  width: 100%;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
}

.modal-body {
  background-color: #fff;
  margin: 0 1rem 0 1rem;
}

.modal-footer {
  margin-bottom: -1rem;
  padding: 10px 1rem 25px 1rem !important;
}