html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 0px;
  background-color: #f5f5f5;
  background-image: url("../images/bg_2.jpg");
  background-size: cover;
  font-family: MicrosoftJhengHei;
}

.font {
	font-family: '微軟正黑體', Arial !important;
	font-size: 16px !important;
}

img {
  vertical-align: middle;
}

span {
  vertical-align: middle;
}

@font-face {
  font-family: MicrosoftJhengHei;
  src: 	local("微軟正黑體"),
  		local("Microsoft JhengHei UI"),
    	url("../fonts/MSJH.TTC");
  font-weight: bold;
}

@font-face {
  font-family: DFKai;
  src: 	local("標楷體"),
  		local("DFKai-sb"),
    	url("../fonts/KAIU.TTF");
  font-weight: bold;
}

p {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.red {
  color: red;
}

.iconImg {
  width: 100px;
}

.title {
  color: #1C2269;
}

.copyright {
  color: #FFFFFF; 
  font-size: 1.5vmin
}

.login-title {
  background: -webkit-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));
  background: -o-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));
  background: -moz-linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));
  background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));
  height: 50px;
  line-height: 50px;
  /*font-size: 5vmin;*/
  font-family: DFKai;
  overflow: hidden; /*超出範圍的部分隱藏*/
  white-space: nowrap; /*不自動斷行*/
  /*text-overflow: ellipsis; /*出現省略號*/
  vertical-align : middle;
}
	
.login-form {
  background-color: rgba(255,255,255,0.7);
}

.form-signin {
  width: 100%;
  max-width: 360px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  /*padding: 10px;*/
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin .form-group .col-6 {
  padding: 0px;
}
/*
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
*/

@media (min-width: 320px) {
  .web-only {
  	display: none;
  }
}

@media (min-width: 768px) {
  .web-only {
  	display: inline;
  }
}

@media (min-width: 1200px) {
  .web-only {
  	display: inline;
  }
}